body video {
    width: auto;
    opacity: 0.8;
    height: 100%;
    z-index: -500;
    pointer-events: none;
    position: fixed;

    background-size: auto;
    autoplay:true;
    scroll-behavior: smooth;

}
body{
    font-family: 'Montserrat', sans-serif;
}
#aman_image{
  height:300px;
  border-radius:10px;



}
.aman_image{
  text-align: center;
}
#vision_para{
  margin:50px;
  font-size:2rem;

}
.vision_text{
  text-align: center;
  color:#8109b0;
}

.vision{
  padding-top:5%;

}
#heading{
  margin-bottom:5%;
}
#photo_wala_section{
  margin-bottom: 100px;
}
.Experience-start{
  height:50px;
  text-align: center;
  background-color: black;
  color:#fff;
  font-size: 2rem;
  margin-bottom: 5%;
}
.channel_para{
  color:#8109b0;
  text-align: center;

}
.logo{
  text-align: center;
  margin-bottom: 3%;
}
.Channels-1{
  margin-bottom: 3%;
}
.Channels-2{
  margin-bottom: 3%;
}
.Channels-3{
  margin-bottom: 3%;
}


.youtube1{
  font-size: 10rem;
  color:red;
}
.channel_para_heading{
  color:black;
  font-size:3rem;
  text-align: center;
  margin-bottom: 3%;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  text-decoration: underline;
}
#a-logo{
  border-radius: 50px;
}
.flex-row{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  justify-content: flex-end;
}
.fa-Instagram{
  color:#ff4d4d;
}
.youtube2{
  color:#ff4d4d;
}
