html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
body video {
    min-width: 100%;
    opacity: 0.8;
    min-height: 100%;
    z-index: -1000;


    position: fixed;
    pointer-events: none;

    background-size:cover;
    autoplay:true;
    scroll-behavior: smooth;


}
body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}
#aman_image{
  height:300px;
  border-radius:10px;



}
.aman_image{
  text-align: center;
}
#vision_para{
  margin:50px;
  font-size:2rem;

}
.vision_text{
  text-align: center;
  color:#ff4d4d;

}

.vision{
  padding-top:5%;

}
#heading{
  margin-bottom:5%;
}
#photo_wala_section{
  margin-bottom: 100px;
}
.Experience-start{
  height:100px;
  text-align: center;
  background-color: black;
  color:#fff;
  font-size: 2rem;
  margin-bottom: 5%;
  vertical-align: center;
  line-height: 100px;
}
.channel_para{
  color:#ff4d4d;
  text-align: center;
  font-family: 'Montserrat', sans-serif;


}
.logo{
  text-align: center;
  margin-bottom: 3%;
}
.Channels-1{
  margin-bottom: 3%;
}
.Channels-2{
  margin-bottom: 3%;
}
.Channels-3{
  margin-bottom: 3%;
}
.channel4{
  margin-bottom: 3%;
}


.youtube1{
  font-size: 10rem;
  color:red;
}
.channel_para_heading{
  color:black;
  font-size:1rem;
  text-align: center;
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif;

  font-weight: bold;
  text-decoration: underline;
}
#a-logo{
  border-radius: 50px;
}
.flex-row{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  justify-content: flex-end;
}

.fa-Instagram{
  color:#ff4d4d;
}
.youtube2{
  color:#ff4d4d;
}
.footer{
  height:30px;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  font-size:15px;
  color:#fff;
  position:fixed;
  bottom: 0px;

}


.element{
  color:#ff4d4d;
font-family: 'Montserrat', sans-serif;

}
